[submodule "src/github.com/codegangsta/cli"]
	path = src/github.com/codegangsta/cli
	url = https://github.com/codegangsta/cli.git
[submodule "src/github.com/gorilla/websocket"]
	path = src/github.com/gorilla/websocket
	url = https://github.com/gorilla/websocket.git
[submodule "src/github.com/hashicorp/consul"]
	path = src/github.com/hashicorp/consul
	url = https://github.com/hashicorp/consul.git
[submodule "src/github.com/gogo/protobuf"]
	path = src/github.com/gogo/protobuf
	url = https://github.com/gogo/protobuf.git
[submodule "src/github.com/op/go-logging"]
	path = src/github.com/op/go-logging
	url = https://github.com/op/go-logging.git
[submodule "src/github.com/hashicorp/go-cleanhttp"]
	path = src/github.com/hashicorp/go-cleanhttp
	url = https://github.com/hashicorp/go-cleanhttp.git
[submodule "src/github.com/hashicorp/serf"]
	path = src/github.com/hashicorp/serf
	url = https://github.com/hashicorp/serf.git
[submodule "src/github.com/nelsam/hel"]
	path = src/github.com/nelsam/hel
	url = https://github.com/nelsam/hel.git
[submodule "src/github.com/apoydence/eachers"]
	path = src/github.com/apoydence/eachers
	url = https://github.com/apoydence/eachers.git
[submodule "src/github.com/onsi/ginkgo"]
	path = src/github.com/onsi/ginkgo
	url = https://github.com/onsi/ginkgo
